<div class="container" id="RechercheForm">
    <h2>{{title}}</h2>
    <form (ngSubmit)="getUser()" #userFormSearch="ngForm" id="searchUserForm">
        <fieldset>
            <div class="input-group">
                <input id="oSaisie" name="oSaisie" [(ngModel)]="oSaisie" type="text" class="form-control" placeholder="Rechercher un utilisateur par adresse mail" required>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Recherche</button>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="alert alert-danger" role="alert" id="errorSearch" style="display: none;">
        Aucun utilisateur trouvé pour cette adresse mail.
    </div>
</div>

<div class="container" id="containerModifyUser" style="display: none;"  >
    <h2>{{title}}</h2>
    <form (ngSubmit)="onSubmit()" *ngIf="valid" #userForm="ngForm" id="modifyUserForm"  >
        <div class="mb-3">
            <label for="name" class="form-label">Nom :</label>
            <input type="text" id="name" class="form-control"  [(ngModel)]="user.nom" name="name" pattern=".{3,}" required>
        </div>

        <div class="mb-3">
            <label for="firstName" class="form-label">Prénom :</label>
            <input type="text" id="firstName" class="form-control" [(ngModel)]="user.prenom" name="firstName" pattern=".{3,}" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Adresse e-mail :</label>
            <input type="email" id="email" class="form-control" [(ngModel)]="user.mail" name="email" pattern="^.+@.+\..+$" disabled required>
        </div>

        <div class="mb-3">
            <label for="adresse" class="form-label">Adresse Postale :</label>
            <input type="text" id="adresse" class="form-control" [(ngModel)]="user.adresse" name="adresse" required>
        </div>

        <div class="mb-3">
            <label for="userRoleSelect">Role :</label>
            <select id="userRoleSelect" class="form-control" [value]='user.role' [(ngModel)]="role" [ngModelOptions]="{standalone: true}" required>
                <option *ngFor="let option of userRole" [value]="option.id">{{option.name}}</option>
            </select>
        </div>

        <button class="btn btn-primary" type="submit">Valider</button>
    </form>

    <div class="modal" id="modifyAdded" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">s
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorBoxTitle">{{submitTitle}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p *ngFor="let msg of submitMsgs">{{msg}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>
