<div class="container">
    <h2>{{title}}</h2>
    <h3>Position : {{latitude}};{{longitude}}</h3>
    <form (ngSubmit)="onSubmit()" #monument="ngForm" id="suggestionForm">
        <div class="mb-3">
            <label for="name">Nom :</label>
            <input type="text" id="name" class="form-control" [(ngModel)]="name" name="name" maxlength="255" pattern=".{3,}" required>
        </div>

        <div class="mb-3">
            <label for="description">Description :</label>
            <input type="text" id="description" class="form-control" [(ngModel)]="description" maxlength="255" name="description" pattern=".{5,}" required>
        </div>

        <div class="mb-3">
            <label for="monumentCategorySelect">Catégorie :</label>
            <select id="monumentCategorySelect" class="form-control" [(ngModel)]="type" [ngModelOptions]="{standalone: true}" required>
                <option *ngFor="let option of monumentCategory" [value]="option.id">{{option.name}}</option>
            </select>
        </div>

        <button class="btn btn-primary" type="submit">Enregistrer</button>
    </form>

    <div class="modal" id="suggestionAdded" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="suggBoxTitle">{{submitTitle}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeFct()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p *ngFor="let msg of submitMsgs">{{msg}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeFct()">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>
