<div *ngIf="monument">
    <h2>{{ monument.nom }}</h2>
    <a *ngIf="connected" [routerLink]="['modify']" [queryParams]="{id: monument.id }">Modifier</a>
    <p>{{ monument.description }}</p>
    <p *ngIf="isVisibleDistancePosition">Distance depuis votre position : {{distance}} km</p>
    <p *ngIf="isVisibleDistanceAdresse">Distance depuis votre adresse : {{distanceAdresse}} km</p>
</div>
