<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" [ngClass]="currentRoute == '/' ? 'active' : ''" routerLink="/" routerLinkActive="active">Accueil</a></li>
            <li class="nav-item"><a class="nav-link" [ngClass]="currentRoute == '/connection' ? 'active' : ''" routerLink="/connection" routerLinkActive="active" *ngIf="!login.authenticated">Connexion</a></li>
            <li class="nav-item"><a class="nav-link" [ngClass]="currentRoute == '/registration' ? 'active' : ''" routerLink="/registration" routerLinkActive="active" *ngIf="!login.authenticated">Inscription</a></li>
            <li class="nav-item"><a class="nav-link" [ngClass]="currentRoute == '/validation' ? 'active' : ''" routerLink="/validation" routerLinkActive="active" *ngIf="login.authenticated && (login.role == 'Moderateur' || login.role == 'Administrateur')">Validation des monuments</a></li>
            <li class="nav-item"><a class="nav-link" [ngClass]="currentRoute == '/validation-modify' ? 'active' :''" routerLink="/validation-modify" routerLinkActive="active" *ngIf="login.authenticated && (login.role == 'Moderateur' || login.role == 'Administrateur')">Validation des modifications</a></li>
            <li class="nav-item"><a class="nav-link" [ngClass]="currentRoute == '/modify-user' ? 'active' : ''" routerLink="/modify-user" routerLinkActive="active" *ngIf="login.authenticated && (login.role == 'Administrateur')">Modifier un utilisateur</a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" routerLink="/" routerLinkActive="active" *ngIf="login.authenticated" (click)="login.disconnect()">Déconnexion</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>


