

<div id="map" class="map"></div>
<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content">
        <div *ngIf="selectedMonument.id !== -1;">
            <app-monument-viewer [id]="selectedMonument.id"></app-monument-viewer>
        </div>
        <div *ngIf="selectedMonument.id == -1 && clickedLonlat != null">
            <a *ngIf="connected" [routerLink]="['suggestion-form']" [queryParams]="{latitude: this.clickedLonlat[1], longitude: this.clickedLonlat[0]}">Cliquez pour ajouter un monument à cette position</a>
            <span *ngIf="!connected">Connectez-vous pour pouvoir suggérer un monument à cette position</span>
        </div>
    </div>
</div>
