<div class="container">
    <h2>{{title}}</h2>
    <form (ngSubmit)="onSubmit()" #user="ngForm" id="connectionForm">
        <div class="mb-3">
            <label for="email" class="form-label">Adresse e-mail :</label>
            <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email" pattern="^.+@.+\..+$" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mot de passe : </label>
            <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" pattern="(?=.*\d)(?=.*[A-Z]).{6,}" required>
        </div>
        <button class="btn btn-primary" type="submit">Se connecter</button>
    </form>

    <div class="modal" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorBoxTitle">{{submitTitle}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeFct()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p *ngFor="let msg of submitMsgs">{{msg}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeFct()">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>
