<div class="container">
    <h2>{{title}}</h2>

    <div id="affichage-modifications" *ngIf="isVisibleDivListeModification">
        <p>Liste des modifications sur les monuments à valider : </p>
        <div class="modificationSelect" (click)="choiceModification(modification.id_modification)" *ngFor="let modification of listModifications" [ngStyle]="{'border': modification.styleCSS}" id="modification_{{modification.id_modification}}">
            <p>{{modification.nom}} [{{modification.type}}]</p>
            <p>{{modification.description}}</p>
        </div>
    </div>


    <div id="form-validation" *ngIf="isVisibleFormValidation">
        <form (ngSubmit)="onSubmit()" #validation="ngForm" id="validationForm">

            <div class="mb-3">
                <label for="name">Nom :</label>
                <input type="text" id="name" class="form-control" [(ngModel)]="name" name="name" pattern=".{3,}" required>
            </div>
            <div class="mb-3">
                <label for="description">Description :</label>
                <input type="text" id="description" class="form-control" [(ngModel)]="description" name="description" pattern=".{5,}" required>
            </div>
            <div class="mb-3">
                <label for="monumentCategorySelect">Catégorie :</label>
                <select id="monumentCategorySelect" class="form-control" [(ngModel)]="type" [ngModelOptions]="{standalone: true}" required>
                    <option *ngFor="let option of monumentCategory" [value]="option.id">{{option.name}}</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="latitude">Latitude :</label>
                <input type="text" id="latitude" class="form-control" [(ngModel)]="latitude" name="latitude" pattern=".{5,}" required>
            </div>

            <div class="mb-3">
                <label for="longitude">Longitude :</label>
                <input type="text" id="longitude" class="form-control" [(ngModel)]="longitude" name="longitude" pattern=".{5,}" required>
            </div>

            <div class="monumentOriginal" [ngStyle]="{'border': monumentOriginalStyleCSS}">
                <p>Monument original : </p>
                <div [innerHTML]="monumentOriginal"></div>
            </div>


            <button class="btn btn-primary" type="submit">Valider ce monument</button>
        </form>

        <button class="btn btn-primary" (click)="refuseModification()">Refuser la modification</button>


    </div>

    <div class="modal" id="validationDialog" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="suggBoxTitle">{{submitTitle}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeFct()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p *ngFor="let msg of submitMsgs">{{msg}}</p>
                </div>
                <div class="modal-footer">
                    <button id="buttonClose" type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeFct()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
