@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'https://openlayers.org/en/v4.6.5/css/ol.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
