<div class="container">
    <h2>{{title}}</h2>
    <form (ngSubmit)="onSubmit()" #user="ngForm" id="registrationForm">
        <div class="mb-3">
            <label for="name" class="form-label">Nom :</label>
            <input type="text" id="name" class="form-control" [(ngModel)]="name" name="name" pattern=".{3,}" required>
        </div>

        <div class="mb-3">
            <label for="firstName" class="form-label">Prénom :</label>
            <input type="text" id="firstName" class="form-control" [(ngModel)]="firstName" name="firstName" pattern=".{3,}" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Adresse e-mail :</label>
            <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email" pattern="^.+@.+\..+$" required>
        </div>

        Adresse postale
        <div class="mb-3">
            <label for="numero" class="form-label">Numéro : </label>
            <input type="text" id="numero" placeholder="3 - 3Bis - 3C" class="form-control" [(ngModel)]="numero" name="adress" required>
        </div>

        <div class="mb-3">
            <label for="address" class="form-label">Rue : </label>
            <input type="text" id="address" class="form-control" [(ngModel)]="address" name="address" required>
        </div>

        <div class="mb-3">
            <label for="cp" class="form-label">Code postal : </label>
            <input type="text" id="cp" class="form-control" [(ngModel)]="cp" name="cp" required>
        </div>

        <div class="mb-3">
            <label for="city" class="form-label">Ville : </label>
            <input type="text" id="city" class="form-control" [(ngModel)]="city" name="city" required>
        </div>

        <div class="mb-3">
            <label for="passW1" class="form-label">Mot de passe : </label>
            <input type="password" id="passW1" class="form-control" [(ngModel)]="passW1" name="passW1" pattern="(?=.*\d)(?=.*[A-Z]).{6,}" required>
        </div>

        <div class="mb-3">
            <label for="passW2" class="form-label">Mot de passe (confirmation) : </label>
            <input type="password" id="passW2" class="form-control" [(ngModel)]="passW2" name="passW2" pattern="(?=.*\d)(?=.*[A-Z]).{6,}" required>
        </div>
        <button class="btn btn-primary" type="submit">Valider</button>
    </form>

    <div class="modal" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorBoxTitle">{{submitTitle}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p *ngFor="let msg of submitMsgs">{{msg}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>
